IDSND_CARDCLICK		WAVE	DISCARDABLE	"click.wav"
IDSND_CARDDROP		WAVE	DISCARDABLE	"drop.wav"
IDSND_CARDMOVE		WAVE	DISCARDABLE	"move.wav"
IDSND_GAMEOVER		WAVE	DISCARDABLE	"gameover.wav"
IDSND_KOSH		WAVE	DISCARDABLE	"kosh.wav"
